{% include "header.html"%}

<body class="center bg-light">
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-11 mt-5">
                <h1>Personen </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-8 ">
            </div>
            <div class="col-xl-3">
                <form action="#" method="post">
                    <div class="form-row align-items-center">
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-1">
                
            </div>
            <div class="col-xl-10 mt-2 ">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col" class="col-auto">Vorname</th>
                                <th scope="col" class="col-auto">Nachname</th>
                                <th scope="col" class="col-md-auto">Zeit</th>
                                <th scope="col" class="col-md-auto">Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects%} {% for parameters in projects[project]%}
                            <tr>
                                <td> {{project}} </td>

                                <td> {{parameters['time']}} </td>
                                <td> {{parameters['costs']}} CHF</td>

                            </tr>
                            {% endfor %} {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>

    </div>


</body>