{% include "header.html"%}

<body class="center bg-light">
    <div class="container-fluid bg-light full-size">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-11 mt-5">
                <h1>{{person['firstname']}} {{person['lastname']}} </h1>
               
            </div>

        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-8 ">
            </div>
            <div class="col-xl-3">
                    <div class="form-row align-items-center">
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 mt-2 ">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col" class="col-md-auto text-left'">Projektname</th>   
                                <th scope="col" class="col-md-auto text-right">Zeit</th>
                                <th scope="col" class="col-md-auto text-right">Kosten</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects%} {% for parameters in projects[project]%}{% for members in parameters['members']%}{% for member in parameters['members'][members]%}
                            {%if members == id %}
                            <tr>
                                <td class='text-left'> {{project}}   </td>
                                <td class='text-right'> {{member['hours']}} </td>
                                <td class='text-right'>{{member['salary']}} CHF</td>

                            </tr>
                            {% endif%}
                            {% endfor %} {% endfor %}{% endfor %}{% endfor %}

                            <tr>
                                    <td style="font-weight:bold" class='text-left' >Mitgliederbeitrag</td>
                                    <td></td>
                                    <td class='text-right'>- {{memberfee}} CHF</td>
                                </tr>
                        <tr>
                            <td style="font-weight:bold" class='text-left'>SUMME</td>
                            <td class='text-right'>{{person['hours']}}</td>
                            <td class='text-right'>{{person['salary']}} </td>
                        </tr>

                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>

    </div>


</body>