{% include "header.html"%}

<body class="center">
    <div class=" full-size container-fluid bg-light ">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-11 mt-5">
                <h1>Personen  </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-8 ">
            </div>
            <div class="col-xl-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-1">

            </div>
            <div class="col-xl-10 mt-2 ">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col" class="col-md-auto">Vorname</th>
                                <th scope="col" class="col-nd-auto">Nachname</th>
                                <th scope="col" class="col-md-auto text-right">Zeit</th>
                                <th scope="col" class="col-md-auto text-right">Lohn</th>
                                <th scope="col" class="col-md-auto"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for key,value in persons.items()%}
                           
                            <tr>
                                {%for key,value in value.items()%}
                                {%if key == "firstname" or key == "lastname" %}
                                <td> {{value}} </td>
                                {%else%}
                                <td class="text-right">{{value}}</td>
                                {%endif %}
                                {% endfor %}
                                <td><a class="btn btn-primary" href="http://127.0.0.1:5000/person/{{path}}/{{key}}" role="button">Details</a></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>

    </div>


</body>

